PORT=3000
FRONTEND_ORIGIN=http://localhost:3001
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@attendancecluster.mhnnvy3.mongodb.net/
UPSTASH_REDIS_REST_URL="https://<url>.upstash.io"
UPSTASH_REDIS_REST_TOKEN=